[submodule "modules/kacela"]
	path = modules/kacela
	url = git://github.com/noah-goodrich/kohana-kacela.git
[submodule "modules/formo"]
	path = modules/formo
	url = git://github.com/bmidget/kohana-formo.git
[submodule "modules/menu"]
	path = modules/menu
	url = https://github.com/b263/kohana-menu.git
[submodule "modules/bonafide"]
	path = modules/bonafide
	url = https://github.com/shadowhand/bonafide.git
[submodule "modules/email"]
	path = modules/email
	url = https://github.com/shadowhand/email.git
[submodule "modules/komponent"]
	path = modules/komponent
	url = git://github.com/jneslen/kohana-komponent.git
[submodule "modules/markdown"]
	path = modules/markdown
	url = git://github.com/aptgraph/kohana-markdown.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/jneslen/kohana-cache.git
[submodule "modules/assets/lessphp"]
	path = modules/assets/lessphp
	url = git://github.com/leafo/lessphp.git
