.DS_Store
node_modules
bower_components
npm-debug.log
.vscode
robots.txt
.idea
.sass-cache
.history

*.map

application
wp-content/uploads
*.swp
!wp-content/uploads/**/.htaccess
.git-ftp.log
.bash_history